/*
    Flexbox
*/

.u-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.u-col {
    display: flex;
    flex-flow: column nowrap;
}
.u-flex {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}



/*
    Positioning
*/

.u-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.u-horizontal {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.u-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.u-stretch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*
    Links
*/

.u-text a {
    display: inline-block;
}
.u-link {
    display: inline-flex;
}



/*
    Themes
*/

.th-black {
    background: #000000;
    color: #f7f7f7;
}
.th-black .u-text a:hover {
    opacity: 0.75;
}
.th-white {
    background: #f7f7f7;
    color: #000000;
}
.th-white .u-text a:hover {
    background: #E5E5E5;
    box-shadow: -.2rem 0 0 0 #E5E5E5, .2rem 0 0 0 #E5E5E5;
}
