:root {
    --padding: 0.8rem;
    --windowHeight: 100vh;
}

body{
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* themes */

.th-private {
    background: #A86F6F;
    color: #FFFFFF;
}


/* fade transition */

.fade-leave, .fade-enter-to {opacity: 1}
.fade-enter, .fade-leave-to {opacity: 0}
.fade-enter-active, .fade-leave-active {transition: opacity .5s;}
