:root {
    --padding: 0.8rem;
    --windowHeight: 100vh;
}

body{
    -webkit-text-size-adjust: none;
}


/* themes */

.th-black {
    background: #000000;
    color: #FFFFFF;
}
.th-white {
    background: #FFFFFF;
    color: #000000;
}
.th-private {
    background: #A86F6F;
    color: #FFFFFF;
}


/* fade transition */

.fade-leave, .fade-enter-to {opacity: 1}
.fade-enter, .fade-leave-to {opacity: 0}
.fade-enter-active, .fade-leave-active {transition: opacity .5s;}
